<ion-view title="Trilha {{TrackChoiced.track}}">
  <ion-content class="has-header">
  <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchFilter">
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="(key, track) in filteredData = (TrackChoiced.talks | filter:searchFilter) track by $index" one-way href="#/app/tracks/single/{{TrackChoiced.track}}/{{key}}" class="fade-in">
        {{track.talk}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
